.titulo {
    border-bottom: 1px solid gray;
   
}
h3{
    margin-top: 10px;
    margin-bottom: 1.3rem;
    margin-right: 50px;
}
.voltar{
    margin-top: 10px;
    margin-bottom: 1.3rem;
}

a,a:active, a:link, a:hover, a:visited{
	text-decoration: none;
    color: black;
}
.pendente{
    text-decoration: none;
}

.concluido{
    text-decoration: line-through;
}
